/Cross_Fading_Secuencial/Video_Output
/Cross_Fading_Secuencial/Images_Output
/Cross_Fading_Secuencial/x64/Debug/Video_Output
/Cross_Fading_Secuencial/x64/Debug/Images_Output
/Cross_Fading_memoria_Distribuida_V2/Video_Output
/Cross_Fading_memoria_Distribuida_V2/Images_Output
/Cross_Fading_memoria_Distribuida_V2/x64/Debug/Video_Output
/Cross_Fading_memoria_Distribuida_V2/x64/Debug/Images_Output
/Cross_Fading_Secuencial/.vs
/Cross_Fading_memoria_Distribuida_V2/.vs
/Cross_Fading_Memoria_Distribuida
/Cross_Fading_Memoria_Distribuida/Cross_Fa.7577df83
/Cross_Fading_memoria_Distribuida_V2/Cross_Fa.7577df83
opencv
SFML
/Cross_Fading_Memoria_Compartida/Video_Output
/Cross_Fading_Memoria_Compartida/Images_Output
/Cross_Fading_Memoria_Compartida/x64/Debug/Video_Output
/Cross_Fading_Memoria_Compartida/x64/Debug/Images_Output
/Cross_Fading_Memoria_Compartida/.vs
/Cross_Fading_Memoria_Compartida/Cross_Fa.78abb2d7